div#pracownicy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

div#pracownicy div {
    flex-basis: 100%;
    display: flex;
    margin-bottom: 5px;
    height: 60px;
    align-items: center;
}

input[type='number'] {
    width: 15px;
}

div#pracownicy div:nth-of-type(2n+1) {
    background-color: rgb(144, 197, 197);
}

h2 {
    width: 100%;
    text-align: center;
}

div#pracownicy div:nth-of-type(1) {
    height: 10vh;
}

div#title {
    font-weight: bold;
    margin-bottom: 5px;
}


div#pracownicy div span,
input {
    flex-basis: 25%;
    padding: 1%;
}

#oblicz {
    margin-top: 20px;
    background-color: rgb(144, 197, 197);
    border: none;
    padding: 15px 32px;
}