q:before, blockquote:before {
    content: open-quote;
}

q:after, blockquote:after {
    content: close-quote;
}

q[lang="en"], blockquote[lang="en"] {
    font-weight: bold;
}

q[lang="en"]:before, blockquote[lang="en"]:before {
    font-weight: bold;
    content: none;
}

q[lang="en"]:after, blockquote[lang="en"]:after {
    font-weight: bold;
    content: none;
}